#panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;


  #page-top {
  }

  #page-middle {
    flex-grow: 1;
    overflow: hidden;
    display: grid;
    grid-template-areas: 'content-left content-middle content-bottom';
    grid-template-columns: auto minmax(0, 1fr);

    #page-left {
    }

    #page-content {

      #content-left {
        #leftbar: {
          border: 1px solid $gray-500;
        }
      }

      #content-middle {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 100%;
        overflow-y: auto;
      }

      #content-right {
        border: 1px solid white;
      }
    }

  }

  #page-bottom {
  }

}
